*{
    margin: 0;
    padding: 0;
}
.ImageContainer img{
    height:60px;
    width:60px;
    margin: 30px 0px 0px 40px;
}

.NavBar{
    display: flex;
    align-items: center;
    position:fixed;
    justify-content: space-between;
    width:100vw;
    /*border: 2px solid blue;*/
}
.MenuContainer{
    margin:20px 40px 0px 0px;
}


 li{
    list-style: none;
    border-right: 2px solid var(--headlines);
    margin-right: 30px;
    padding-right: 40px;
    font-family: Lato-Bold;
    color: var(--headlines);
    cursor: pointer;
}
li:last-child{
    border: none;
    margin-right: 5px;
}
.MenuContainer{
    cursor: pointer;
    font-family: 'UbuntuLight';
}
.MenuContainer button{
    border: none;
    background-color:transparent;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}
.MenuContainer span{
    color: var(--headlines);
    margin-right: 10px;
    font-size: 18px;
    letter-spacing: 5px;
    vertical-align: middle;
    font-family: Lato-Bold;
}
.Hide{
    display: none;
}
.Show{
    display: flex;
    justify-content:flex-end;
    /*border: 2px solid red;*/
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding-top: 23px;
    
}
.Bar1,.Bar2,.Bar3{
    width: 35px;
    height:5px;
    background-color: var(--headlines);
    margin: 6px 0;
    transition: 0.4s;
}
.Change .Bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
}
.Change .Bar2 {opacity: 0;}
.Change .Bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
}
@media(max-width:750px){
    .show{
        display: flex;
        justify-content:flex-end;
        /*border: 2px solid red;*/
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-top: 23px;
    }
}