*{
    margin: 0;
    padding: 0;
    
}

.RightContainer img{
    width: 500px;
    height: 500px;

}
.Container{
   
   background-color: var(--servicebackground);
    
}
.InnerContainer{
    margin: 0 40px 0 40px;
}
.LeftTextContainer{
    width: 30%;
}
.LeftTextContainer p{
    font-family: Lato-Bold;
    font-size: 48px;
    color: var(--headlines);
}

.ContainerOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    
}
@media(max-width:990px){
    .LeftTextContainer{
        width: 40%;
    }
}
@media(max-width:920px){
    .LeftTextContainer{
        width: 100%;
        text-align: center;
    }
    .ContainerOne{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
       padding: 60px 0 0 0;
    }

}
@media(max-width:500px){
    .RightContainer img{
        width: 100%;
        height: 500px;
    
    }
    .LeftTextContainer{
        width: 100%;
        text-align: center;
    }
    .ContainerOne{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
       padding: 60px 0 0 0;
    }
}
@media(max-width:400px){
    .RightContainer img{
        width: 100%;
        height: 500px;
    
    }
    .LeftTextContainer{
        width: 100%;
        text-align: center;
    }
    .ContainerOne{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: row;
       padding: 100px 0 0 0;
    }
}