@font-face {
  font-family: Lato-Bold;
  src: url('./assets/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato-Regular;
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato-Light;
  src: url('./assets/fonts/Lato-Light.ttf');
}

:root{
 --headlines:#fffffe;  /*For HeroText, NavBar Text and Top Heading of Each Section and some ALL CAPS Words,card headings*/
 --subheadline:#94a1b2;/* For paragraphs, subheadlines and cards paragraph*/
 --servicebackground:#16161a;/* Also for team background and Contact Background*/
 --aboutbackground:#242629;  /*Also for project background and teams card background*/
 --buttonbackground:#7f5af0;
}